.mlgActive0 { position: relative; animation-name: falling17, rotate17; animation-duration: 8100ms; }

@keyframes falling17 { 0% { top: 0; left: 0; } 100% { top: 1000px; left: -45px; opacity: 0; } }

@keyframes rotate17 { from { transform: rotate(0deg); } to { transform: rotate(2148deg); } }


.comicText0 { position: relative; animation-name: comicTextOpacity0; animation-duration: 2599ms; }

@keyframes comicTextOpacity0 { 0% { top: 300px; left: 50px; } 100% { top: 300px; left: 50px; opacity: 0; } }


.comicText1 { position: relative; animation-name: comicTextOpacity1; animation-duration: 2599ms; }

@keyframes comicTextOpacity1 { 0% { top: 300px; left: 500px; } 100% { top: 300px; left: 500px; opacity: 0; } }


.comicText2 { position: relative; animation-name: comicTextOpacity2; animation-duration: 2599ms; }

@keyframes comicTextOpacity2 { 0% { top: 100px; left: 600px; } 100% { top: 100px; left: 600px; opacity: 0; } }


.comicText3 { position: relative; animation-name: comicTextOpacity3; animation-duration: 2599ms; }

@keyframes comicTextOpacity3 { 0% { top: 20px; left: 50px; } 100% { top: 20px; left: 50px; opacity: 0; } }


/*--------SUNGLASS ANIMATION-------*/

.sunglassForPerson0 {
    position: relative;
    animation-name: sunglassFalling0;
    animation-duration: 5100ms;
    -webkit-animation-fill-mode: forwards;
}
@keyframes sunglassFalling0 {
    0% {
        top: 0px;
        left: 235px;
        opacity: 0;
        width: 125px;   /*Standart 100px*/
        height: 90px;   /*Standart 65px*/
    }
    25% {
        top: 155px;
        left: 235px;
        opacity: 1;
        width: 125px;
        height: 90px;
    }
    100% {
        top: 155px;
        left: 235px;
        opacity: 1;
        width: 125px;
        height: 90px;
    }
}