/*div {*/
    /*border: 1px solid black; !* Параметры границы *!*/
/*}*/

body {
    cursor: url('../pic/thingsForPage/cursor.cur'), auto;
}

.subjectFixer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subject {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    width: 1200px;
}

.info {
    padding: 20px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: column;
}

.fullName {
    word-spacing: 2px;
    text-align: left;
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    padding: 20px;

}

.description {
    line-height: 20px;
    word-spacing: 2px;
    text-align: left;
    padding: 10px;
    font-family: Arial;
    font-size: 18px;
}

.photo {
    padding: 20px;
    margin: 0; /* Обнуляем отступы */
    overflow: hidden; /* Прячем всё за пределами */
    min-width: 20%; /* Минимальная ширина */
    width: 250px;
    /*height: 250px;*/
}

.pic {
    width: 250px;
    height: 250px;
    border-radius: 500px;
}

.sunglassBlock{
    position: fixed;
    flex-wrap: wrap;
    flex-flow: row;
    display: none;
    justify-content: space-between;
}
.comicTextBlock {
    width: 100%;
    position: fixed;
    flex-wrap: wrap;
    flex-flow: row;
    display: none;

}
.fixerComicTextBlock {
    height: 1px;
    width: 100%;
}

.fixer {
    width: 100%;
    height: 1px;
}
.mlgBlock {
    width: 100%;
    flex-wrap: wrap;
    flex-flow: row;
    display: none;
    justify-content: space-between;
}


.scrolling {
    opacity: .7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}